*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  background-color: #fff;
}
button {
  border: 0;
  outline: 0;
  background: inherit;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
