@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  direction: rtl;
}
body {
  font-family: 'IRANYekan', sans-serif;
  margin: 0;
  background-color: $white-100;
}
button {
  border: 0;
  outline: 0;
  background: inherit;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
