@use '../abstracts' as *;

.button {
  @include flex(inline-flex, center, center, 8px);
  border: 0;
  border-radius: $radius-12;
  cursor: pointer;
  font-family: 'IRANYekan';
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;

  &--block {
    width: 100%;
    height: 48px;
  }

  &--primary {
    background-color: $primary-600;
    color: $white-100;
  }
  &--secondary {
    border: 1px solid $gray-200;
    height: 55px;
    width: 90px;
  }
  &--outline {
    border: none;
    background-color: transparent;
  }

  &--small {
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 400;
  }

  &--medium {
    font-size: 16px;
    font-weight: 600;
  }

  &--large {
    padding: 14px 24px;
    font-size: 16px;
  }
}
