@use '../abstracts' as *;

.btn {
  @include customFlex(inline-flex, center, center, 8px);
  border: 0;
  border-radius: $radius-12;
  cursor: pointer;
  font-family: 'IRANYekan';
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;

  &--block {
    width: 100%;
    height: 48px;
  }

  &--primary {
    background-color: $primary-600;
    color: $white-100;
  }

  &--small {
    padding: 8px 14px;
    font-size: 12px;
  }

  &--medium {
    font-size: 16px;
    font-weight: 600;
  }

  &--large {
    padding: 14px 24px;
    font-size: 16px;
  }
}
