@use 'sass:map';
@use './variables' as *;

@function get-color($group, $key) {
  $var-name: --datepicker-#{$group}-#{$key};
  $default: map.get(map.get($colors, $group), $key);
  @return var($var-name, $default);
}

@function radius($key) {
  $var-name: --datepicker-radius-#{$key};
  $default: map.get($radius, $key);
  @return var($var-name, $default);
}

@function space($key) {
  $var-name: --datepicker-spacing-#{$key};
  $default: map.get($spacing, $key);
  @return var($var-name, $default);
}

@function font-size($key) {
  $var-name: --datepicker-font-size-#{$key};
  $default: map.get($font-sizes, $key);
  @return var($var-name, $default);
}

@function font-weight($key) {
  $var-name: --datepicker-font-weight-#{$key};
  $default: map.get($font-weights, $key);
  @return var($var-name, $default);
}

@function size($key) {
  $var-name: --datepicker-#{$key};
  $default: map.get($dimensions, $key);
  @return var($var-name, $default);
}

@function font($type) {
  $f: map.get($fonts, $type);
  @return if(type-of($f) == 'list', join($f, ', '), $f);
}

@function range($key) {
  $var-name: --datepicker-range-gradient-#{$key};
  $default: map.get($range-gradient, $key);
  @return var($var-name, $default);
}

@function scroll($key) {
  $var-name: --datepicker-scrollbar-#{$key};
  $default: map.get($scrollbar, $key);
  @return var($var-name, $default);
}

@function transition($property: all) {
  $duration: var(--datepicker-transition-duration, map.get($transition, duration));
  $timing: var(--datepicker-transition-timing, map.get($transition, timing));
  @return #{$property} #{$duration} #{$timing};
}
