@mixin flex(
  $direction: row,
  $justifyContent: flex-start,
  $alignItem: center,
  $gap: 0,
  $flexWrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItem;
  gap: $gap;
  flex-wrap: $flexWrap;
}
