@use 'sass:map';
@use './variables' as *;
@use './functions' as *;

@mixin flex($direction: row, $justify: flex-start, $align: center, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin datepicker-grid($columns: 7, $gap: 16px, $column-gap: null) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;

  @if $column-gap != null {
    column-gap: $column-gap;
    row-gap: $gap;
  }
}

@mixin day-button-base {
  border-radius: radius(10);
  font-size: font-size(14);
  font-weight: font-weight(normal);
  width: 100%;
  height: size(day-size);
  cursor: pointer;
  @include flex(column, center, center);
  position: relative;
  font-family: inherit;
}

@mixin day-selected {
  background-color: get-color(primary, 500);
  color: get-color(text, white);
  border-radius: radius(10);
}

@mixin day-range-marker {
  color: get-color(text, white);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: size(day-size);
    height: size(day-size);
    background-color: get-color(primary, 500);
    border-radius: radius(10);
    z-index: -1;
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: scroll(width);
  }

  &::-webkit-scrollbar-track {
    background: scroll(track-color);
    border-radius: radius(10);
  }

  &::-webkit-scrollbar-thumb {
    background: scroll(thumb-color);
    border-radius: radius(10);
    height: scroll(thumb-height);
    width: scroll(width);

    &:hover {
      background: color.adjust(scroll(thumb-color), 10%);
    }
  }
}

@mixin button-base {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  transition: transition();
}

@mixin button-active {
  background-color: get-color(primary, 500);
  color: get-color(text, white);
}

@mixin animation(
  $name,
  $duration: map.get($transition, duration),
  $timing: map.get($transition, timing),
  $fill-mode: forwards
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-fill-mode: $fill-mode;
}
