// color

$primary-600: #2471eb;
$primary-500: #2f7bf5;
$primary-400: #2d89e9;

$gray-300: #5a5a5a;
$gray-200: #dadce5;
$gray-100: #f6f8ff;
$gray-50: #fafafa;

$text-primary: #f4f4f4;

$white-100: #fff;

// radius
$radius-4: 4px;
$radius-8: 8px;
$radius-12: 12px;

// padding
$padding-24: 24px;
$padding-16: 16px;
